<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css"
    rel="stylesheet" />
  <title>Basic-Form</title>
</head>

<body>
  <div class="container">
    <h1 style="text-align: center;">SlamBook</h1>
    <form method="post">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="street">FirstName</label>
          <input type="text" name="firstname" id="firstname" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="streetnumber">LastName</label>
          <input type="text" id="lastname" name="lastname" class="form-control">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" class="form-control" />
        </div>
        <div class="form-group col-md-6">
          <label for="Phone-Number">Phone-Number</label>
          <input type="number" id="Phone-Number" name="Phone-Number" class="form-control" />
        </div>
      </div>
      
      <div>
        <label for="language" style="font-size: large;">Choose Your Favourite Language  :</label>
        <select name="language" id="language">
          <option *ngFor="let lang of languages">{{ lang.language}}</option>
          <!-- <option value="html">HTML</option>
          <option value="css">CSS</option>
          <option value="javascript">JavaScript</option>
          <option value="php">PHP</option>
          <option value="none">None</option> -->
        </select>
      </div>

      <fieldset>
        <legend>Address</legend>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="street">Street:</label>
            <input type="text" name="street" id="street" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="streetnumber">Street number:</label>
            <input type="text" id="streetnumber" name="streetnumber" class="form-control">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="zipcode">Zipcode</label>
            <input type="text" id="zipcode" name="zipcode" class="form-control">
          </div>
        </div>
      </fieldset>


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  </div>


</body>

</html>